<header>
  <nav class="container m-auto mt-5">
    <mat-toolbar>
      <h1 id="title">
        <a routerLink="">
          Angular ToDo
        </a>
      </h1>
      <div class="flex gap-5">
        @if (authService.currentUserSig()) {
          <a matButton="outlined" routerLink="/todos">todos</a>
          <button (click)="logout()" matButton="outlined">log out</button>
        } @else {
          <a matButton="outlined" routerLink="/login">login</a>
          <a matButton="outlined" routerLink="/signup">signup</a>
        }
      </div>
    </mat-toolbar>
  </nav>
</header>

