<header>
  <nav class="container m-auto mt-5">
    <mat-toolbar id="navbar">
      <h1 id="title">
        <a routerLink="">
          Angular ToDo
        </a>
      </h1>
      <div class="flex items-center justify-between w-full">
        @if (authService.isPending()) {
          <button disabled="disabled" class="loading-button">
            <lucide-icon [img]="LoaderCircle" class="my-icon loader-spinning"></lucide-icon>
          </button>
        } @else if (authService.currentUserSig()) {
          <a routerLink="/todos" routerLinkActive="nav-active-button" class="nav-buttons">Todos</a>
          <button (click)="logout()"
                  id="logout-button"
                  #tooltip="matTooltip"
                  matTooltip="Log out"
                  matTooltipPosition="below"
                  matTooltipHideDelay="100">
            <lucide-icon [img]="LogOut"></lucide-icon>
          </button>
        } @else {
          <div class="space-x-5">
            <a
              matButton="outlined" routerLink="/login"
              routerLinkActive="nav-active-button"
              class="nav-buttons"
            >
              Login
            </a>
            <a
              matButton="outlined"
              routerLink="/signup"
              routerLinkActive="nav-active-button"
              class="nav-buttons"
            >
              Sign up
            </a>
          </div>
        }
      </div>
    </mat-toolbar>
  </nav>
</header>

