#title {
  font-weight: bold;
  font-size: 40px;
  margin-right: 20px;
}

#navbar {
  border-radius: 5px;
}

%nav-button-base {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 15px;
}

.nav-buttons {
  @extend %nav-button-base;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    background-color: #008eff;
    color: white;
  }
}

.nav-active-button {
  background-color: #008eff;
  color: white !important;
}

#logout-button {
  @extend .nav-buttons;

  &:hover {
    cursor: pointer;
    background-color: #ef4444;
    color: white;
  }
}

.loading-button {
  @extend %nav-button-base;

  background-color: #eaeaea;
  border-color: #b6b6b6;
  color: #383838;
  cursor: wait;

}

