<section class="container mx-auto px-4 py-10 md:py-20 bg-white rounded shadow max-w-250">
  <div class="max-w-4xl mx-auto text-center">
    <h1 class="text-5xl md:text-7xl font-bold text-foreground mb-6 text-balance leading-tight">
      Organize your day. Accomplish your goals.
    </h1>
    <p class="text-xl text-muted-foreground mb-5 max-w-2xl mx-auto text-pretty leading-relaxed">
      TaskFlow helps you capture, organize, and complete your tasks with ease. Simple enough for anyone, powerful enough
      for everything.
    </p>
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
      @if (authService.currentUserSig()) {
        <button matButton="filled" class="text-base px-8" routerLink="/todos">
          Check yours todos
        </button>
      } @else {
        <button matButton="filled" class="text-base px-8" routerLink="/login">
          Start for free
        </button>
      }
    </div>
  </div>
</section>
