<div class="flex flex-col gap-5 w-120 mt-10 m-auto border rounded-xl p-10 shadow bg-white rounded">
  <h2 class="text-3xl">Login</h2>
  @if (errorMessage()) {
    <div>{{ errorMessage() }}</div>
  }
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput name="email" type="email" formControlName="email" placeholder="email@example.com">
      <mat-error> {{ loginForm.get('email')?.errors | errorMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="********">
      <mat-error>
        {{ loginForm.get("password")?.errors | errorMessage }}
      </mat-error>
    </mat-form-field>
    <button [disabled]="isSubmitting()" matButton="filled" type="submit">
      @if (isSubmitting()) {
        <lucide-icon [img]="LoaderCircle" class="my-icon loader-spinning"></lucide-icon>
      } @else {
        Login
      }
    </button>
  </form>
</div>
