#footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px;
  padding-top: 10px;
}

#filterButtons {
  display: flex;
  gap: 15px;
}

.activeButton {
  background-color: #bdedff;
  border: solid #1f9aff 1px;
  font-weight: 500;
}

button {
  border: solid #b7b7b7 1px;
  padding: 0 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #bdedff;
}

p {
  font-weight: 500;
  font-size: 16px;
}
