div {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 55px;
    width: 75px;
    background-color: oklch(72.3% 0.219 149.579);
    color: white;
  }
}
